body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  } /* Don't know what this does??*/
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    border-radius: 10px
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) }
  
  .about-section {
    padding-top: 20px ;
    padding-bottom: 30px;
    text-align: center;
    background-color: rgb(152, 152, 176);
    /* background-image: url("leaves-4235968_640.jpg"); */
    color: white;
  }

  .h2 { padding: 10px;
    text-align: center;
    color: white; 
    }

    #clara { color: black ; background-image: url("book-1283865_640.jpg"); border-top-right-radius: 10px ; border-top-left-radius: 10px}
    #waseem { background-image: url("milky-way-5295160_640.jpg"); border-top-right-radius: 10px ; border-top-left-radius: 10px}
    #inam { color: white ; background-image: url("background-image-3778266_640.jpg"); border-top-right-radius: 10px ; border-top-left-radius: 10px}
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }

  h2 { padding: 20px;
    box-sizing: border-box
}

.more_info { color: black;
    font-size: 20px; 
    padding-top:20px; 
    padding-left:40px;}

 