body { 
    border
}

h1 { color: black;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align: center;
    font-weight: lighter;
}

ul {
    list-style-type: none;
    background-color: rgb(138, 216, 190);
    overflow: hidden;
    size: 20px;
  }
  li a{
    float: left;
    display: block;
    padding: 15px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: lighter; 
  }
  li a:not(.active) { }

  li a:hover:not(.active) { 
    background-color: rgb(88, 154, 132);
    
}
 
  .active { color: rgb(138, 216, 190); background-color: black;}

p {
    color: black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    padding-top:20px; 
    padding-left:40px;
}

